.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  border: 1px solid green;
  padding: 30px;
}
.about-main {
  margin-bottom: 30px;
  border: 2px solid blue;
  width: 400px;
  padding: 10px;
  text-align: center;
}
.contact-main {
  margin-bottom: 30px;
  border: 2px solid blue;
  width: 400px;
  padding: 10px;
  text-align: center;
}

.home-main {
  margin-bottom: 30px;
  border: 2px solid blue;
  width: 400px;
  padding: 10px;
  text-align: center;
}
.yes {
  color: green;
}
.no {
  color: red;
}
